<p id="notice"><%= notice %></p>

<h1>Followers List</h1>
<hr/>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Pinner</th>
      <th scope="col">Follower</th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr class="table-active">
        <td><%= follower.user.fullname %></td>
        <td><%= follower.follower_id %> </td>
        <td><%= link_to 'Show', follower %></td>
        <td><%= link_to 'Destroy', follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
