<p id="notice"><%= notice %></p>
<h1>Follower</h1>
<hr/>
<p>
  <strong>Pinner:</strong>
  <%= @follower.user.fullname %>
</p>

<p>
  <strong>Follower:</strong>
  <%= @follower.follower_id %>
</p>


<%= link_to 'Back to Followers List', followers_path %> <%# |
<%= link_to 'Edit', new_follower_path(@follower) %>
