<p id="notice"><%= notice %></p>
Where is this - do I need this? This is a followers/# page. If not, delete the "show" link in the followers page
<p>
  <strong>User:</strong>
  <%= @follower.user %>
</p>

<p>
  <strong>Follower:</strong>
  <%= @follower.follower_id %>
</p>

<%= link_to 'Edit', new_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
