<p id="notice"><%= notice %></p>

<h1>Boards List</h1>
<hr/>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Board Name</th>
      <th scope="col">Pinner</th>
    </tr>
  </thead>

  <tbody>
    <% @boards.each do |board| %>
      <tr class="table-active">
        <td><%= board.name %></td>
        <td><%= board.user.fullname %></td>
        <td><%= link_to 'Show', board %></td>
        <td><%= link_to 'Edit', edit_board_path(board) %></td>
        <td><%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board', new_board_path %>
