<p id="notice"><%= notice %></p>
<!-- change to an h1 board name at top -->
<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user %>
</p>

<%= render partial: "shared/pins_list" %>

<% if current_user.id == @board.user_id %>
<%= link_to 'Edit', edit_board_path(@board) %> |
<% end %>
<%= link_to 'Back', boards_path %>
