<p id="notice"><%= notice %></p>
<!-- change to an h1 board name at top -->
<div class="header">
  <h1><%= @board.user.fullname %>'s <%= @board.name %> Board</h1>
</div>
<hr/>
<%# <p class="title">
  <strong>Name:</strong>
  <%= @board.name %>
<%# </p>

<p class="title">
  <strong>User:</strong>
  <%= @board.user.fullname %>
<%# </p> %>

<%= render partial: "shared/pins_list" %>


<i class="fa fa-arrow-left"></i>
<%= link_to 'Back to Boards List', boards_path %> |
<% if current_user.id == @board.user_id %>
<%= link_to 'Edit', edit_board_path(@board) %>
<% end %>
