<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- how to create a dropdown menu with bootstrap and js https://www.w3schools.com/bootstrap/bootstrap_ref_js_dropdown.asp -->
</head>
<body>
  <div class="container">
    <% if logged_in? && current_user %>

<!-- btn-group seems to do nothing and negates the pull-right (use? no) -->
      <div class="dropdown">
<!-- docs have aria-haspopup="true" aria-expanded="false" https://getbootstrap.com/docs/3.3/components/#btn-dropdowns -->
        <button id="dropdownMenu1" class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="true">
          <%= "#{current_user.first_name}"%>
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation">
            <%= link_to "Boards", boards_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation" class="divider"></li>
          <% current_user.boards.each do |board| %>
          <li role="presentation">
            <%= link_to "#{board.name}", board_by_name_path(board.name), "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          
          <% end %>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <%= link_to "Add a Pin", new_pin_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation">
            <%= link_to "Add a Board", new_board_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation">
            <%= link_to "Add a Follower", new_follower_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation">
            <%= link_to "Following", followers_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <%= link_to "Home", root_path, "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation">
            <%= link_to "Account Info", edit_user_path(current_user), "role" => "menuitem",  "tabindex" => "-1" %>
          </li>
          <li role="presentation">
            <%= link_to "Logout", logout_path(current_user), :method => :delete, "role" => "menuitem",  "tabindex" => "-1" %>
<!-- could also be method: :delete -->
          </li>
        </ul>

      </div>
    <% end %>
    <div>
      <%= yield %>
    </div>

    <script>
$(document).ready(function(){
  $(".dropdown-toggle").dropdown();
});
</script>

</body>
</html>
